@page "/deneme"

<div class="my-component">
    This component is defined in the <strong>GamesCatalog.DenemeModule</strong> library.
</div>

<GameListTable Name="Deneme Module" Games="games"/>

@code
{
    List<Game>? games;

    protected override void OnInitialized()
    {
        games = new List<Game>()
        {
                new Game()
                {
                    Name="Test Rally",
                    Genre="Simulator",
                    ReleaseDate = new DateTime(2026,05,08)
                },
                new Game()
                {
                    Name="HalfLife",
                    Genre="RPG",
                    ReleaseDate = new DateTime(2025,04,12)
                }
            };

    }
}
