@rendermode InteractiveServer

<h3>GameListTable answer for @Name</h3>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Genre</th>
                <th>Release Date</th>
                <th>
                    <input type="checkbox" @bind="displayButton" />
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Games == null)
            {
                <tr>@NullList</tr>
            }
            else if (Games.Count == 0)
            {
                <tr>@EmptyList</tr>
            }
            else
            {
                @foreach (var item in Games)
                {
                    <IndividualGame DeleteGame="DeleteTheGame" DisplayButton="displayButton" Game="item" IsTable="true" />
                }
            }
        </tbody>
    </table>
</div>

@code{
    bool displayButton = false;
    [Parameter] public List<Game>? Games { get; set; }
    [Parameter] public string? Name { get; set; }
    [Parameter] public RenderFragment? EmptyList { get; set; }
    [Parameter] public RenderFragment? NullList { get; set; }
    void DeleteTheGame(Game game)
    {
        Games?.Remove(game);
    }
}