@rendermode InteractiveServer

<h3>GameListTable answer for @Name</h3>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Genre</th>
                <th>Release Date</th>
                <th>
                    <input type="checkbox" name="show" @onchange="(()=>displayButton=!displayButton)" />
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Games == null)
            {
                <tr><td>Loading Data.....</td></tr>
            }
            else if (Games.Count == 0)
            {
                <tr><td>No Items in Array</td></tr>
            }
            else
            {
                @foreach (var item in Games)
                {
                    <IndividualGame DisplayButton="displayButton" Game="item" IsTable="true" />
                }
            }
        </tbody>
    </table>
</div>

@code{
    bool displayButton = false;
    [Parameter] public List<Game>? Games { get; set; }
    [Parameter] public string? Name { get; set; }

}