@rendermode InteractiveServer

<h3>GameListTable answer for @Name</h3>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Genre</th>
                <th>Release Date</th>
                <th>
                    <input type="checkbox" @bind="displayButton" />
                </th>
            </tr>
        </thead>
        <tbody>
                <GenericList ListOfItems="Games" EmptyList="EmptyList1" NullList="NullList1">
                    <ItemTemplate Context="game">
                        <IndividualGame Game="game" IsTable="true" DisplayButton="displayButton" DeleteGame="DeleteTheGame" />
                    </ItemTemplate>
                </GenericList>
        </tbody>
    </table>
</div>

@code{
    [Parameter] public RenderFragment? EmptyList1 { get; set; }
    [Parameter] public RenderFragment? NullList1 { get; set; }

    [Parameter] public List<Game>? Games { get; set; }
    bool displayButton = false;
    [Parameter] public string? Name { get; set; }

    void DeleteTheGame(Game game)
    {
        Games?.Remove(game);
    }
}