@rendermode InteractiveServer

@if (IsTable)
{
    <tr>
        <td>@Game?.Name</td>
        <td>@Game?.Genre</td>
        <td>@Game?.ReleaseDate.ToString("dd.MM.yyyy")</td>
        <td>
            @if (DisplayButton)
            {
                <button class="btn btn-danger" @onclick="(()=>DeleteGame.InvokeAsync(Game))">Delete</button>
            }
        </td>
    </tr>
}
else
{
    <div class="row text-center alert-info">
        <div class="col">
            <p>@Game?.Name</p>
            <p>@Game?.Genre</p>
            <p>@Game?.ReleaseDate.ToString("dd.MM.yyyy")</p>
        </div>
    </div>
    <div class="row">
        <div class="col">

        @if (DisplayButton)
        {
            <button class="btn btn-danger" @onclick="SwitchGame">Switch</button>
        }
        </div>
    </div>
}

@code
{
    [Parameter] public Game? Game { get; set; }
    [Parameter] public bool IsTable { get; set; }
    [Parameter] public bool DisplayButton { get; set; } = false;
    [Parameter] public EventCallback<Game> DeleteGame { get; set; }
    [Parameter] public EventCallback SwitchGame {get; set; }
}