@page "/"
@rendermode InteractiveServer

<PageTitle>@PageTitle</PageTitle>

<div class="row">
    <div class="col text-center">
        <h1>Welcome to out Games Catalog</h1>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h1>Show all games in Mock Database:</h1>
    </div>
</div>

<GameListTable Games="games" Name="@PageTitle" >
    <NullList1>
        <td>
            <span style="text-align:center; color:red;font-weight:bolder">
                  Element Loading...
            </span>
        </td>
    </NullList1>
    <EmptyList1>
        <td>
            <span style="text-align:center; color:Blue;font-weight:bolder">
                Empty List
            </span>
        </td>
    </EmptyList1>
</GameListTable>

<IndividualGame Game="oneGameToShow" SwitchGame="ShowNewGame" IsTable="false" DisplayButton="true" />

<div class="row">
    <div class="col text-center">
        <button class="btn btn-success" @onclick="AddNewGame"> Add New Game</button>
    </div>
</div>

@code
{
    private string PageTitle = "Home";
    List<Game>? games;
    Random? rnd;
    Game? oneGameToShow;




    protected async override Task OnInitializedAsync()
    {
        games = new List<Game>()
        {
            new Game()
            {
                Name="Farming Simulator 2025",
                Genre="Simulator",
                ReleaseDate = new DateTime(2025,05,08)
            },
            new Game()
            {
                Name="Gta VI",
                Genre="Simulator,RPG",
                ReleaseDate = new DateTime(2025,09,12)
            },
            new Game()
            {
                Name="Assasin Creed Next",
                Genre="Fight",
                ReleaseDate = new DateTime(2025,2,17)
            }
        };
        rnd = new Random(DateTime.Now.Millisecond);
        oneGameToShow = games[rnd.Next(0, games.Count)];


    }

    void ShowNewGame()
    {
        oneGameToShow = switchGame();
    }
    Game switchGame()
    {
        Game tempGame;
        if (games!.Count >= 2)
        {
            int iteratator = rnd!.Next(0, games.Count);
            tempGame = games[iteratator];
        }
        else if (games.Count == 1)
            tempGame = games[0];
        else
            return new Game() { Name = "No items in array!", ReleaseDate = DateTime.Now };

        return tempGame;
    }
    void AddNewGame()
    {
        games!.Add(new Game()
        {
            Name = "CS",
            Genre = "Shooter",
            ReleaseDate = new DateTime(1998, 02, 02)
        });
    }
}