@page "/"

<PageTitle>@PageTitle</PageTitle>

<div class="row">
    <div class="col text-center">
        <h1>Welcome to out Games Catalog</h1>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h1>Show all games in Mock Database:</h1>
    </div>
</div>

<GameListTable Games="games" Name="@PageTitle"/>
<IndividualGame Game="games![0]" IsTable="false" DisplayButton="true" />

@code
{
    private string PageTitle = "Home";
    List<Game>? games;

    protected override void OnInitialized()
    {
        games = new List<Game>()
        {
            new Game()
            {
                Name="Farming Simulator 2025",
                Genre="Simulator",
                ReleaseDate = new DateTime(2025,05,08)
            },
            new Game()
            {
                Name="Gta VI",
                Genre="Simulator,RPG",
                ReleaseDate = new DateTime(2025,09,12)
            },
            new Game()
            {
                Name="Assasin Creed Next",
                Genre="Fight",
                ReleaseDate = new DateTime(2025,2,17)
            }
        };

    }
}